

#dashboard {
    margin-top: 50px;
    display: block;
}

h2 {
    text-align: center;
    font-size: 40px;
}

.card img {
    margin: auto;
    height: 290px;
    width: 95%;
}

.card-wrapper {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    color: black;
}

.card-wrapper h2 {
    margin: auto;
}

.title,
.salary {
    font-size: 21px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 23%;
    height: 500px;
    margin: 25px auto;
    background-color: white;
    border-radius: 5px;
    border: 2px ridge rgb(210, 208, 208);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
}

.details-btn {
    text-decoration: none;
    margin: auto 50px;
    font-size: 21px;
    width: 130px;
    padding: 10px;
    text-align: center;
    color: whitesmoke;
    background: #7c7e7e;
}

.card p {
    min-width: 90% !important;
    margin: auto;
    font-size: 21px;
    max-height: 50px;
    max-width: 30%;
    text-align: center;
}

.card span {
    padding: 10px;
    margin: auto;
}

#logo {
    font-style: italic;
    font-size: 30px;
  }
  
  #logo-img {
    height: 70px;
  }

  #home {
    margin-top: 100px;
  }
  
  #home img {
    display: block;
    margin: auto;
    height: 30%;
    width: 30%;
    background-color: transparent;
  }
  
  #home h1 {
    font-style: italic;
    font-size: 39px;
    color:rgb(253, 253, 253);
    text-align: center;
  }
  
  #home h2,
  #home h3 {
    font-style: italic;
    font-size: 27px;
    color:whitesmoke;
    text-align: center;
  }
  

  body {
    color: whitesmoke;;
    background-image: url("https://static.vecteezy.com/system/resources/previews/006/852/804/non_2x/abstract-blue-background-simple-design-for-your-website-free-vector.jpg");
    margin: 0;
    padding: 0;
    overflow: auto;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em 3em;
    background: #7d7e7e;
  }
  
  nav {
    background-color: #7a6e6e;
    height: 0px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
  }
  
  #logo {
    font-style: italic;
    font-size: 30px;
  }
  
  #logo-img {
    height: 70px;
  }
  
  nav a {
    font-size: 1.5rem;
    color: #0a0a0a;
    font-weight: 400;
  }
  
  header a {
    padding: 0 10px;
    text-decoration: none;
    color: whitesmoke;
  }
  
  header a:hover {
    color: rgb(202, 203, 204);
  }
 
  
  section {
    margin-bottom: 100px;
  }
  
  